[Unit]
Description=kiln-controller

[Service]
ExecStart=/home/tim/kiln-controller/venv/bin/python /home/tim/kiln-controller/kiln-controller.py

[Install]
WantedBy=multi-user.target
